header {
    color: blueviolet;
    text-align: center;
}

footer {
    text-align: center;
    background-color: aqua;
    color: chartreuse;
}
main{
    width: 800px;
    text-align: center;
    margin: auto;
}