<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git initiation</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
    <h1>VueJS</h1>
    <div id="app">
        <div v-bind:title="today">
            Message: {{ msg }}
        </div>
        <!-- <button v-on:click="display = !display">Toggle paragraph!</button> -->
        <button v-on:click="togglePar">Toggle paragraph!</button>
        <!-- <p v-show="display"> -->
        <p v-if="display">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis incidunt placeat
            numquam minus veritatis
            cupiditate, saepe aliquid ullam quos itaque. Aperiam nemo commodi tempora odit dolorem aliquid explicabo
            voluptatem non.
        </p>
        <ul>
            Supported languages:
            <li v-for="lang in languages">
                {{ lang }}
            </li>
        </ul>
    </div>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                msg: "Welcome to 3W Academy - Vue JS session",
                today: new Date().toLocaleDateString(),
                display: false,
                languages: ['HTML', 'CSS', 'PHP', 'JS']
            },
            methods: {
                togglePar: function () {
                    this.display = !this.display
                }
            }
        });
    </script>
</body>

</html>